body{
    background-color: rgb(109, 236, 194);
}
h2 {

    font-family: Arial,Verdana, Trebuchet MS,Georgia, Tahoma, Courier;
    size: 45px;
    font-weight: 100;
    
}

link{
    color:rgb(20, 234, 20);
    background-color: transparent;
    text-decoration: none;
}